@font-face {
  font-family: "Essenfont";
  src: url("/fonts/tags.woff") format("woff"),
      url("/fonts/tags.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+E0000-E007F;
}
